# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Data
backend/data/gtfs.db
backend/data/gtfs_subway.zip

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
backend/static/data/
